<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="" />
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/gradients.css" rel="stylesheet">
</head>

<body class="heaven-13">

    <section style="text-align:center;padding-top:6em;padding-bottom:3em;">
        @RenderBody()
    </section>

    <footer>
        <p class="footer-contents">
            Built with <a href="https://cloudskills.io">♥</a> in Scottsdale, AZ
        </p>
    </footer>

</body>

</html>